*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

header {
    width: 100%;
    height: 65px;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 5px;
    background-image: linear-gradient(to right, #5699d2, #161D4C);
}

/* Search form styling */
main form label {
    font-weight: bolder;
    font-size: 25px;
}

.searchForm {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 20px;
    margin-top: 20px;
}

.searchbar {
    height: 35px;
    width: 100%;
    border-radius: 5px;
}

.searchbutton {
    height: 30px;
    width: 100%;
    background-color: #60A3D9;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}

.searchbutton:hover {
    background-image: linear-gradient(to right, #5699d2, #161D4C);
}

#search-history {
    margin-top: 5px;
    border-top: solid 2px black;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}
/* Search form styling ends*/

/* Forecast Section */
/* .forecast {
    display: none;
} */
/* Forecast Section Ends */

